
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.game-container {
	text-align: center;
}

#game-board { 
	display: grid;
	grid-template-columns: repeat(10, 30px);
	grid-gap: 1px;
	border: 1px solid #333;
	background-color: #000;
}

.cell { 
	width: 30px;
	height: 30px;
	border: 1px solid #333;
}